{% extends 'hospital/homebase.html' %}
{% block content %}

    <br>
    <br>

    <div class="jumbotron" style="margin-bottom:0px;">
        <p style="font-size: 30px; font-weight: 600;">ONLY THE ADMIN CAN LOGIN FROM HERE</p>
        <p class="lead">Welcome to <b style="color: #bc1e1e">DocTor's Care(HMS)</b>.</p>
        <hr class="my-4">
        <p>You can access various features after Login/SignUp.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'App_main:admin-signup' %}" role="button">SignUp</a>
            <a class="btn btn-primary btn-lg" href="{% url 'App_main:admin-login' %}" role="button">Login</a>
        </p>
    </div>

{% endblock content %}
